.hidden-scroll::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
}

.story-container {
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 100;
  margin-left: 7px;
  .story-style {
    border: 5px solid crimson;
    border-radius: 50%;
    min-width: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px 10px;
    height: 70px;
    width: 70px;


    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 3px black;
      text-align: center;
    }

  }

}
