<div class="mb-2 hidden-scroll story-container w-100"
     fxLayout="row" fxLayoutAlign="start center"
     fxLayoutGap="7px">
  <ng-container *ngIf="!loading">
    <ng-container *ngFor="let story of storys">
      <div [style.background]="'url(' + story.stories[0] + ')'"
           class="story-style shadow-sm"
           (click)="onClickStory(story)">
        <div class="name">
          <span>{{story.story.name}}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ngx-skeleton-loader [theme]=skeletonStory animation="progress"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]=skeletonStory animation="progress"></ngx-skeleton-loader>
   <ngx-skeleton-loader [theme]=skeletonStory animation="progress"></ngx-skeleton-loader>
   <ngx-skeleton-loader [theme]=skeletonStory animation="progress"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]=skeletonStory animation="progress"></ngx-skeleton-loader>
   <ngx-skeleton-loader [theme]=skeletonStory animation="progress"></ngx-skeleton-loader>
</div>

<div style="position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; background-color: black; z-index: 100; overflow: hidden" *ngIf="showStory">
  <div style="width: 100%; position: relative">
    <div style="color: white; position: absolute; top: 7px; right: 7px" (click)="onCloseStorys()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div style="height: 100%; width: 100%" fxLayoutAlign="center center">

    <div style="position: relative">
      <img [src]="selectedStory?.stories[0]" alt="">
    </div>
      <span style="color: white; position: absolute; top: 50%; margin: 0 auto">
      {{selectedStory?.story.name}}

      </span>
  </div>
  <div>
  </div>
</div>
