<div class="template-container">
  <!--  <a href="https://web.whatsapp.com/send?text=Saiba como se proteger de golpes!! acesse https://golpes-org" target="_blank" data-text="Saiba como se proteger de golpes!! acesse https://golpes-org">Share1</a>-->

  <ng-container *ngIf="onHome; else ActiveGolpe">

    <img routerLink="/" src="assets/images/app-background.png" style="width: 100%; height: 100%" alt="">
  </ng-container>

  <ng-template #ActiveGolpe>
    <div class="selected-golpe" fxLayout="column" fxLayoutAlign="center center">
      <div class="img-content">

        <img [src]="selectedGolpe.img" alt="">
      </div>
      <h2>{{selectedGolpe.title}}</h2>

      <h3 class="step mb-step">
        <h1>Como Funciona</h1>
        <p [innerText]="selectedGolpe.description"></p>
      </h3>

      <div fxLayout="column" fxLayoutGap="20px">
        <ng-container *ngFor="let step of selectedGolpe.steps; let position = index">
          <div class="step" fxLayout="column">
            <h1>{{step.title}}</h1>
            <div *ngFor="let description of step.description">
              <h3 innerHTML={{description}}></h3>
            </div>
          </div>
        </ng-container>
      </div>

        <div class="whats-link">
          <a style="text-decoration: none;" [href]="'https://api.whatsapp.com/send?text=Saiba como se proteger de golpes!! acesse https://golpes.org?g=' + selectedGolpe.id" target="_blank" data-text="Saiba como se proteger de golpes!! acesse https://golpes-org">Compartilhe Agora Via Whatsapp</a>
        </div>

    </div>

  </ng-template>

  <div class="search-box" fxLayout="column" fxLayoutAlign="center center">

    Digite na barra de busca o golpe que deseja obter informações!

    <div class="search">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Pesquisar Golpe</mat-label>
          <input autocomplete="off" [(ngModel)]="searchText" name="text" type="text" matInput
                 placeholder="Ex: WhatsApp">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <div class="list" fxLayout="row" fxLayoutAlign="space-around start">

      <div *ngIf="!filteredList.length" class="not-found">Não encontramos nenhum golpe com esse nome</div>

      <ng-container *ngFor="let item of filteredList">
        <div routerLink="/" [queryParams]="{g: item.id}" (click)="scrollUp()" fxLayout="column"
             fxLayoutAlign="center center">
          <img [src]="item.img" alt="">
          <span>{{item.title}}</span>
        </div>
      </ng-container>

    </div>

  </div>



  <ng-container *ngIf="!onHome">

    <img routerLink="/" (click)="scrollUp()" src="assets/images/app-background.png" style="width: 100%; height: 100%"
         alt="">
    <p>*Conteúdo produzido com a colaboração de informações das Polícias Civis do Distrito Federal (PC/DF) e do Rio Grande do Sul (PC/RS).</p>
  </ng-container>


</div>
