/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: 'opendyslexic';
  src: url('assets/OpenDyslexic-Regular.otf') format("opentype");
  font-style: normal;
  font-weight: normal;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

img {
  outline: none;
}

body {
  margin: 0;
  background-color: #FFB715;
  font-family: opendyslexic !important;
}
